.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:800px) {
    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.title-1 {
    font-size: xx-large;
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-decoration-line: underline;
    text-decoration-color: crimson;
}

.facebook {
    padding: 10px;
    font-size: xx-large;
    color: cornflowerblue;
}

.call {
    padding: 10px;
    font-size: xx-large;
    color: green;
}

.email {
    padding: 10px;
    font-size: xx-large;
    color: goldenrod;
}

.normal-text {
    font-size: larger;
}

span {
    color: chocolate;
}

div img {
    margin-top: 30px;
    margin-left: 20px;

}