.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-1 {
    font-size: xx-large;
    font-weight: 800;
    font-style: oblique;
    text-decoration-line: underline;
    text-decoration-color: crimson;
}

.facebook {
    padding: 10px;
    font-size: xx-large;
    color: cornflowerblue;
}

.call {
    padding: 10px;
    font-size: xx-large;
    color: green;
}

.email {
    padding: 10px;
    font-size: xx-large;
    color: goldenrod;
}

.normal-text {
    font-size: larger;
}

span {
    color: chocolate;
}