.name{
    font-size: 50px;
    font-weight: normal;
    margin: 50px 0;
    text-align: center;
  }
  .round, .round:before, .round:after{
    border: 3px solid transparent;
    border-radius: 50%;
  }
  .round{
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    border-top-color: violet;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
  }
  .round:before, .round:after{
    content: "";
    position: absolute;
  }
  .round:before{
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: aqua;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 2s infinite linear;  
  }
  .round:after{
    top: 23px;
    left: 23px;
    right: 23px;
    bottom: 23px;
    border-top-color: #bac900;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 3s infinite linear;  
  }
  @-webkit-keyframes spin{
    from{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); 
    }
  }
  @keyframes spin{
    from{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); 
    }
  }